<!-- 
  AUTO PACKAGES
  ===========================================================================================
  By default it does not do anything, it requires for special folder to be specified which
  contents will be searched for Sitecore packages and installed in alphabetical order
  including subfolders. Configuration example: 
  
  1. /app_config/include/zzz.YourProjectName/YourProjectName.AutoPackages.config
  
  <configuration xmlns:set="http://www.sitecore.net/xmlconfig/set/">
    <sitecore>
      <settings>
        <setting name="FridayCore.AutoPackages.FolderPath" set:value="/App_Data/AutoPackages" />
      </settings>
    </sitecore>
  </configuration>
  
  NOTE, it is recommended to use /App_Data/AutoPackages folder because there is default ASP.NET
  protection to prevent downloading files from this folder, and to prevent conflict with default
  $(data)/Packages which is used by Sitecore for other purposes.
-->

<configuration xmlns:role="http://www.sitecore.net/xmlconfig/role/">
  <sitecore role:require="Standalone or ContentManagement">
    <pipelines>
      <initialize>
        <processor type="FridayCore.Pipelines.Loader.ValidateSettings, FridayCore.AutoPackages" />
      </initialize>
    </pipelines>
    <hooks>
      <hook type="FridayCore.Hooks.InstallPackages, FridayCore.AutoPackages" />
    </hooks>
    <settings>
      <setting name="FridayCore.AutoPackages.FolderPath" value="" />
    </settings>
  </sitecore>
</configuration>
