<!-- 
  ACCOUNT RESET RULES 
  ==================================================================================
  By default it does not do anything, it requires following files to be created:
  
  1. /app_config/include/zzz.yourprojectname/YourProjectName.FridayCore.AccountResetRules.config
  
  <configuration xmlns:set="http://www.sitecore.net/xmlconfig/set/">
    <sitecore> 
      <FridayCore>
        <AccountResetRules>
          <Account name="sitecore\admin" />
        </AccountResetRules>
      </FridayCore>
    </sitecore> 
  </configuration>
-->

<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <pipelines>
      <initialize>
        <processor type="FridayCore.Pipelines.Loader.ResetUserAccounts, FridayCore.AccountResetRules" />
      </initialize>
    </pipelines>
    <FridayCore>
      <AccountResetRules />
    </FridayCore>
  </sitecore>
</configuration>