<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="FridayCore" version="0.0.4" targetFramework="net461" />
  <package id="FridayCore.AccountResetRules" version="0.0.4" targetFramework="net461" />
  <package id="FridayCore.AutoPackages" version="0.0.4" targetFramework="net461" />
  <package id="FridayCore.Common" version="0.0.4" targetFramework="net461" />
  <package id="FridayCore.SignUpRules" version="0.0.4" targetFramework="net461" />
  <package id="FridayCore.SitecoreStarted" version="0.0.4" targetFramework="net461" />
</packages>