<configuration xmlns:set="http://www.sitecore.net/xmlconfig/set/">
  <sitecore>
    <FridayCore>
      <SignUpRules>
        <!-- NOTE, THE name ATTRIBUTE IS IMPORANT TO BE PRESENTED AND TO BE UNIQUE -->
        <Rule name="authors" domain="localhost">
          <Role name="sitecore\Author" />
        </Rule>
        <Rule name="admins" domain="admins.localhost" isAdministrator="true" />
      </SignUpRules>
    </FridayCore>
  </sitecore>
</configuration>