<configuration xmlns:set="http://www.sitecore.net/xmlconfig/set/">
  <sitecore>
    <events>
      <event name="sitecore:started">
        <handler type="FridayCore.Sample.Events.SitecoreStarted, FridayCore.Sample" method="CreateOrUpdateError500" />
      </event>
    </events>
  </sitecore>
</configuration>