*.user
*.pubxml
.idea/
.vs/
node_modules/
release/
src/FridayCore/bin/
src/FridayCore/obj/
src/FridayCore.AccountResetRules/bin/
src/FridayCore.AccountResetRules/obj/
src/FridayCore.AutoPackages/bin/
src/FridayCore.AutoPackages/obj/
src/FridayCore.Common/bin/
src/FridayCore.Common/obj/
src/FridayCore.ConfigExtensions/bin/
src/FridayCore.ConfigExtensions/obj/
src/FridayCore.Sample/bin/
src/FridayCore.Sample/obj/
src/FridayCore.SharpItems/bin/
src/FridayCore.SharpItems/obj/
src/FridayCore.SignUpRules/bin/
src/FridayCore.SignUpRules/obj/
src/FridayCore.SitecoreStarted/bin/
src/FridayCore.SitecoreStarted/obj/
src/FridayCore/Properties/VersionInfo.cs
src/packages/
