<!-- 
  SHARP ITEMS 
  ==================================================================================
  By default it does not do anything, it requires following files to be created:
  
  1. /App_Config/Include/zzz.YourProjectName/YourProjectName.FridayCore.SharpItems.MasterDb.SampleFolder.config
  
  <configuration xmlns:role="http://www.sitecore.net/xmlconfig/role/">
    <sitecore role:require="Standalone or ContentManagement">
      <hooks>
        <hook type="FridayCore.Hooks.EnforceItems, FridayCore.SharpItems">
          <modules hint="raw:AddModule">
            <add type="YourProjectName.Data.SharpItems.MasterDb.SampleFolder, YourProjectName" />
          </modules>
        </hook>
      </hooks>
    </sitecore>
  </configuration>
  
  2. YourProjectName.Data.SharpItems.MasterDb.SampleFolder.cs
  
  using System.Collections.Generic;

  using Sitecore;
  using Sitecore.Data;

  using FridayCore.Data;

  namespace YourProjectName.Data.SharpItems.MasterDb
  {
      public class SampleFolder : ISharpItemsModule
      {
          public DatabaseName DatabaseName { get; } = DatabaseName.Master;

          public IEnumerable<ItemDef> GetItems() => Items;

          public static ID SampleFolderTemplateID { get; } = new ID("{17C668B6-FCA9-4895-B232-52A7A48E8AAD}");

          public static ID SampleFolderTemplateStandardValuesID { get; } = new ID("{2fc0d69b-1dce-4d39-9162-c84980c2ba6a}");

          private static IReadOnlyList<ItemDef> Items = new List<ItemDef>
          {
              // Item and Template

              new ItemDef("/sitecore/content/Some Folder", SampleFolderTemplateID) // Same [#1]
              {
              },

              new TemplateDef("/sitecore/templates/FridayCore/Sample Folder")
              {
                  ID = SampleFolderTemplateID, // Same [#1]
                  ["__Icon"] = "Applications/32x32/folder_blue.png",
                  ["__Standard values"] = SampleFolderTemplateStandardValuesID.ToString(), // Same ((#2))
              },

              // Standard Values

              new ItemDef("/sitecore/templates/FridayCore/Sample Folder/__Standard Values", SampleFolderTemplateID)
              {
                  ID = SampleFolderTemplateStandardValuesID, // Same ((#2))
                  ["__Masters"] = $"{SampleFolderTemplateID}",
                  ["__Editors"] = "{A0C460F4-DBAE-4A5A-8F3A-C4ADFCDACEEA}" // folder view
              },

              // Folder for the Template above

              new ItemDef("/sitecore/templates/FridayCore", TemplateIDs.TemplateFolder)
              {
                  ["__Icon"] = "Applications/32x32/folder_blue.png"
              },
          };
      }
  }
-->
<configuration xmlns:role="http://www.sitecore.net/xmlconfig/role/">
  <sitecore role:require="Standalone or ContentManagement">
    <hooks>
      <hook type="FridayCore.Hooks.EnforceItems, FridayCore.SharpItems">
        <modules hint="raw:AddModule" />
      </hook>
    </hooks>
  </sitecore>
</configuration>
