<!-- 
  CONFIG EXTENSIONS
  ==================================================================================
  By default it does not do anything, it requires following files to be modified:
  
  1. /web.config 
     
  <configuration>
    <configSections>
      <section name="sitecore" type="FridayCore.Configuration.ExtendedRuleBasedConfigReader, FridayCore.ConfigExtensions" />
    </configSections>
    ...
  </configuration>
    
  P.S. It can be easily transformed via web.Debug.config and web.Release.config or similar filess.
  
  After feature is enabled, use $(connectionstrings:master) or $(connectionstrings:smtp/datasource) in solution
  configuration files to access connection strings or the components of connection strings (case sensitive): 
  
  * DataSource or datasource
  * UserName or username
  * Password or password
  
  Note, userName or pASSWORD won't work because it is simple dictionary.
  
  For example:
  
  <connectionStrings>
    <add name="smtp" connectionString="Data Source=localhost;User ID=smtpusername;Password=smtppassword" />
  </connectionStrings>
    
  <settings>
    <setting name="MailServer" value="$(connectionstring:smtp/DataSource)" />
    <setting name="MailServerUserName" value="$(connectionstring:smtp/UserName)" />
    <setting name="MailServerPassword" value="$(connectionstring:smtp/Password)" />
  </settings>
  
  In addition, <appSettings> are also available with $(appsettings:mysetting)
-->

<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:role="http://www.sitecore.net/xmlconfig/role/">
  <sitecore>
    <pipelines>
      <initialize>
        <processor type="FridayCore.Pipelines.Loader.ValidateSettings, FridayCore.ConfigExtensions" />
      </initialize>
    </pipelines>
  </sitecore>
</configuration>