<!-- 
  ACCOUNT RESET RULES 
  ==================================================================================
  By default it does not do anything, it requires following files to be created:
  
  1. /App_Config/Include/zzz.YourProjectName/YourProjectName.FridayCore.AccountResetRules.config
  
  <configurationxmlns:role="http://www.sitecore.net/xmlconfig/role/">
    <sitecore role:require="Standalone or ContentManagement">
      <FridayCore>
        <AccountResetRules>
          <Account name="sitecore\admin" />
        </AccountResetRules>
      </FridayCore>
    </sitecore> 
  </configuration>
-->

<configuration xmlns:role="http://www.sitecore.net/xmlconfig/role/">
  <sitecore role:require="Standalone or ContentManagement">
    <pipelines>
      <initialize>
        <processor type="FridayCore.Pipelines.Loader.ResetUserAccounts, FridayCore.AccountResetRules" />
      </initialize>
    </pipelines>
    <FridayCore>
      <AccountResetRules />
    </FridayCore>
  </sitecore>
</configuration>