<!-- 
  ACCOUNT RESET RULES 
  ==================================================================================
  By default it does not do anything, it requires following files to be created:
  
  1. /App_Config/Include/zzz.YourProjectName/YourProjectName.FridayCore.AccountResetRules.config
  
  <configuration xmlns:role="http://www.sitecore.net/xmlconfig/role/" xmlns:env="http://www.sitecore.net/xmlconfig/env/">
    <sitecore role:require="Standalone or ContentManagement">
      <FridayCore>
        <AccountResetRules env:require="Development">          
          <Account name="sitecore\admin" password="b" writePasswordToLog="true" />
        </AccountResetRules>
        <AccountResetRules env:require="!Development">
          <Account name="sitecore\admin" emailPasswordTo="admin@yourcompany.com, logs@yourcompany.com" />
        </AccountResetRules>
      </FridayCore>
    </sitecore> 
  </configuration>
  
  HERE, attribues in the example above mean following:
  - password attribute is used when account password should be set to specific value (e.g. to restore if somebody changed it)
    when empty means generate random new one
    
  - writePasswordToLog attribute controls whether to print generated password to log file
    by default is off because it might be considered as a vulnerability
    
  - emailPasswordTo attribute value is a comma-, semicolon-, or pipe-separated list of emails that new password will be sent to
  
  NOTE, this sample config uses out of box 'env' variable that is not very commonly known, but it is 
  a part of out of box configuration files (/App_Config/Environment/Sitecore.PipelineProfiling.config).
  It should be defined the same way as 'role' variable - in the web.config's <appSettings> section as
  follows:
  
  <add key="env:define" value="Development" />
  
  P.S. It can be easily transformed via web.Debug.config and web.Release.config or similar files for 
  different environments.
-->

<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:role="http://www.sitecore.net/xmlconfig/role/">
  <sitecore role:require="Standalone or ContentManagement">
    <pipelines>
      <initialize>
        <processor type="FridayCore.Pipelines.Loader.ResetUserAccounts, FridayCore.AccountResetRules" />
      </initialize>
    </pipelines>
    <FridayCore>
      <AccountResetRules />
    </FridayCore>
  </sitecore>
</configuration>