<!-- 
  SIGN UP RULES 
  ================================================================================
  By default it does not do anything, it requires following files to be created:
  
  1. /App_Config/Include/zzz.YourProjectName/YourProjectName.MailServer.config
    
  <configuration xmlns:set="http://www.sitecore.net/xmlconfig/set/">
    <sitecore>
      <settings>
        <setting name="MailServer" set:value="<YOUR_MAIL_SERVER>" />
        <setting name="MailServerPort" set:value="25" />
        <setting name="MailServerUserName" value="" />
        <setting name="MailServerPassword" set:value="" />
      </settings>
    </sitecore>
  </configuration>
  
  2. /app_config/include/zzz.yourprojectname/YourProjectName.FridayCore.SignUpRules.config
  
  <configuration xmlns:set="http://www.sitecore.net/xmlconfig/set/">
    <sitecore>
      <FridayCore>
        <SignUpRules>
          <Rule name="authors" domain="authors.yourcompany.com">
            <Role name="sitecore\Author" />
          </Rule>
          <Rule name="admins" domain="admins.yourcompany.com" isAdministrator="true" />
        </SignUpRules>
      </FridayCore>
    </sitecore>
  </configuration>
-->

<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <requestProtection>
      <ignoreSites>
        <site name="signup" />
      </ignoreSites>
    </requestProtection>
    <sites>
      <site name="signup" virtualFolder="/sitecore/signup" physicalFolder="/sitecore/signup" inherit="login" patch:before="site[@name='login']" />
    </sites>
    <pipelines>
      <initialize>
        <processor type="FridayCore.Pipelines.Loader.ValidateSettings, FridayCore.SignUpRules" />
      </initialize>
    </pipelines>
    <hooks>
      <hook type="FridayCore.Hooks.UpdateFiles, FridayCore.SignUpRules" />
    </hooks>
    <FridayCore>
      <SignUpRules/>
    </FridayCore>
  </sitecore>
</configuration>