<!-- 
  ERROR PAGES DELIVERY 
  ================================================================================
  When XA error page is defined on Tenant/Site/Settings item, OOB it needs to be
  manually generated on CM instance by clicking button on ./SiteGrouping/Site item
  and then ErrorPages/*.html file to be manually copied to all CD instances.
  
  With this extension this process is automated by re-generating the file on every
  Sitecore instance in the solution on every publish end (without blocking handling
  publish end event).
-->

<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:role="http://www.sitecore.net/xmlconfig/role/">
  <sitecore role:require="Standalone OR ContentManagement OR ContentDelivery">
    <events>
      <event name="publish:end">
        <handler type="FridayCore.XA.ErrorPagesDelivery.ErrorPageFileGenerator, FridayCore.XA.ErrorPagesDelivery" method="OnPublishEnd" />
      </event>
      <event name="publish:end:remote">
        <handler type="FridayCore.XA.ErrorPagesDelivery.ErrorPageFileGenerator, FridayCore.XA.ErrorPagesDelivery" method="OnPublishEnd" />
      </event>
    </events>
  </sitecore>
</configuration>